registry=https://registry.npmjs.org/
@amirmuha:registry=https://npm.pkg.github.com/
init-author-name=amirmuha
//registry.npmjs.org/:_authToken=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
legacy-peer-deps=true
